 <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd
">
    <context:component-scan base-package="xgt.easy.webservice" />
    <bean id="handlerFactory" class="com.easyframework.webservice.restfulclient.handler.RequestHandlerChainFactory">
        <property name="handlers">
            <map>
                <entry key="filter_handler">
                    <bean class="com.easyframework.webservice.restfulclient.handler.ActionFilter"></bean>
                </entry>
            </map>
        </property>
    </bean>
    <bean id="httpClientFactory" class="com.easyframework.webservice.restfulclient.httpclient.client.HttpClientFactory"/>
    <bean id="easyHttpClient" class="com.easyframework.webservice.restfulclient.httpclient.client.HttpSimpleClient">
        <property name="handlerFactory" ref="handlerFactory"/>
        <property name="httpClientFactory" ref="httpClientFactory"/>
    </bean>
</beans>